<li class="nav-item">
	<a class="nav-link" href="@Url.Action("LecturerDashboard", "Dashboard")">Lecturer</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("CoordinatorDashboard", "Dashboard")">Coordinator</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("ManagerDashboard", "Dashboard")">Manager</a>
</li>
